---
interface Props {
  href?: string;
  src: string;
  alt: string;
  width: number;
}
const { src, alt, width, href } = Astro.props;
---

{
  href ? (
    <a
      target="_blank"
      href={href}
      class="inline-block aspect-square cursor-pointer hover:brightness-110"
      style={`width: ${width / 16}rem;`}
    >
      <img src={src} alt={alt} />
    </a>
  ) : (
    <span class="inline-block aspect-square" style={`width: ${width / 16}rem;`}>
      <img src={src} alt={alt} />
    </span>
  )
}
